# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\KHANH\Intern Java\Task_9_12_2021_JavaOOP_Java8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
